<div class="auth-container">
    <h2>Log in</h2>
    <form action="/auth/login" method="POST">
    <div class="form-control">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Type your username">
    </div>
    <div class="form-control">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Type your password">
    </div>
    <input type="submit" value="Login">
    {{!-- <p>You do not not have an a count<a href="/register">click here</a></p> --}}
    </form>
</div>